* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right top, #bdc3c7, #2c3e50);
    position: relative;
    color: #12005a;
}
h1{
    font-family: 'Great Vibes', Helvetica, sans-serif;
    font-size: 80px;
    text-align: center;
    color: rgb(255, 255, 255);
    top: 20px;
    position: relative;
}

.title{
    font-size: 20px;
    color: white;
    text-decoration: underline;
    font-weight: 900;
    margin-left: 60px;
    margin-bottom: 10px;
}

table{
  padding-top: 0px;
  /* margin-left: 30%;
  margin-right: 30%; */
  width: 400px;
  font-weight: 540;
  border-collapse: collapse;
}

tbody tr:nth-child(odd) {
    background: rgba(255, 255, 255, 0.2);
  }

td{
    margin: 0px;
    padding: 0px;
    border: 0px ;
}

section{
    margin-left: 30px;
    margin-bottom: 20px;
}

ol{
    list-style-type: decimal;
}
ol li{
    float: left;
    margin-right: 10px;
    padding-right: 10px;
}

p,ol {
}


#photos{
    clear: both;
}
#photos .title{
    display: block;
    
}
.food-photo-card{
  display: inline-block;
  background: white;
  background: linear-gradient(
  to right bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.3)
  );
  height: 100px;
  width: 200px;
  border-radius: 25px;
  margin-right: 20px;
  text-align: center;
}
img{
    height: 70px;
    width: 150px;
    border-radius: 25px;
    margin-top: 6.5%;
}